.movieLayout{
    display: flex;
    margin: 40px;
    width: 330px;
    height: 580px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addMovieLayout{
    display: flex;
    margin: 40px;
    width: 330px;
    height: 580px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.posterContainer{
    width: 330px;
    height: 330px;
    border-radius:50%;
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-sizing:border-box;
    
    .noPoster{
        border-radius: 50%;
    }
}

.posterContainer:hover{
    background-color: #0f3b5412;
}

.noPoster{
    background-color: #0f3b54;
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movieTitle{
    font-size: 28px;
    color: #0f3b54;
    font-weight: bold;
    
}
.newMovieTitle{
    font-size: 28px;
    color: #0f3b54;
    font-weight: bold;
    text-align: center;
    min-height: 260px;
}

.NewMovieTitleMobile{
    display: none;
}

.movieData{
    text-align: left;
    min-height: 204px;
    font-size: 18px;
    width: 100%;
}

.imageIcons{
    font-size: 140px;
    color: white;
} 

p {
    margin: 10px 0;
    span{
        font-weight: bold;
        color:#0f3b54;  
    }

} 

.dataIcon{
    color:#0f3b54; 
    margin:0 5px;
    

}

.addMovieIcon{
    font-size: 120px;
    color:#0f3b54;
}



@media (min-width: 320px) and (max-width: 1024px) { 
    .addMovieLayout{
        justify-content: unset;
        margin: unset;
        position: fixed;
        top: 84vh;
        background-color: #0f3b54;
        z-index: 600;
        border-radius: 200px;
        border: 1px solid white;
        width: 220px;
        height: 220px;
        padding-top: 20px;
        box-sizing: border-box;

        .addMovieIcon{
            font-size: 55px;
            color:white;
        }
        .NewMovieTitleMobile{
            text-align: center;
            color: white;
            font-size: 20px;
            display: unset;
        }

        .newMovieTitle{
            display: none;
        }
        .posterContainer{
            border: unset;
            height: unset;
            margin: unset;
        }
    }



}


