.formLayout{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 880px;
    height: 500px;


    .formPoster{
        height: 100%;
        width: 600px;
        background-color: #0f3b54;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    p{
        text-align: left;
        margin-bottom: 0;
        
    }

    input{
        display: block;
        width: 350px;
        height: 35px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 25px;
        padding: 0 10px;
    }

    span{
        color:#cc0e0e;
        font-weight: 500;
        padding-left: 5px;
    }

    input:focus, textarea:focus, select:focus {
    outline: none;
    background: #0f3b5424;
    }

    button{
        padding: 10px 15px;
        background-color: #0f3b54;
        border-radius: 40px;
        color: white;
        border-style: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #071d2a;
    }

    .cancelButton {
        color: #0f3b54;
        cursor: pointer;
        padding-bottom: 1px;
        text-decoration: underline;
    }

    .cancelButton:hover {
        color: #071d2a;
    }

    .formButtons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        
    }
    .imageIcons{
        font-size: 150px;
        color: white;
    }
}


@media (min-width: 881px) {
    .formLayout{
        width: 90vw;
        height: 70vh;
    }
}

@media (min-width: 320px) and (max-width: 880px) {
    .formLayout .formPoster{
        display:none;
    }
}

@media (min-width: 711px) and (max-width: 880x) {
    .formLayout{
        width: 60vw;
        height: 70vh;
    }

}

@media (min-width: 320px) and (max-width: 710px) {
    .formLayout{
        width: 80vw;
        height: 60vh;
    }

    .formLayout{
         input{
        display: block;
        width: 250px;
        height: 35px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 20px;
        padding: 0 10px;
        }   
    }



}